<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>Manage</title>

  <!--icheck-->
  <link href="__STATIC__/adminex/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
  <link href="__STATIC__/adminex/js/iCheck/skins/square/square.css" rel="stylesheet">
  <link href="__STATIC__/adminex/js/iCheck/skins/square/red.css" rel="stylesheet">
  <link href="__STATIC__/adminex/js/iCheck/skins/square/blue.css" rel="stylesheet">

  <!--common-->
  <link href="__STATIC__/adminex/css/style.css" rel="stylesheet">
  <link href="__STATIC__/adminex/css/style-responsive.css" rel="stylesheet">

	<block name="style"></block>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="__STATIC__/adminex/js/html5shiv.js"></script>
  <script src="__STATIC__/adminex/js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <img style="width:200px" src="http://www.startce.com/skin/zd/images/logo_2.png" alt="">
            <a href="index.html"></a>
        </div>

        <div class="logo-icon text-center">
            <a href="index.html"></a>
        </div>
        <!--logo and iconic logo end-->
        <div class="left-side-inner">
            
            <!--sidebar nav start-->
            <ul style="margin-top:100px;" class="nav nav-pills nav-stacked custom-nav">

                <li><a href="/manage/logs/index"><i class="fa fa-search"></i> <span>异常查询</span></a></li>

                <li><a href="/manage/logs/create"><i class="fa fa-upload"></i> <span>上报异常</span></a></li>

                <li><a href="/manage/logs/api"><i class="fa fa-book"></i> <span>API接入</span></a></li>

                <if condition="can(isAdmin, array(session('user.id')))">
                    <li><a href="/manage/UserExamine"><i class="fa fa-user"></i> <span>平台商审核</span></a></li>
                    <li><a href="/manage/LogsExamine"><i class="fa fa-info-circle"></i> <span>异常记录审核</span></a></li>
                </if>

            </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">
            <div class="col-md-10">
                <!--toggle button start-->
                <a class="toggle-btn"><i class="fa fa-bars"></i></a>
                <if condition="can('status', [session('user.id') ? : 0])">
                    <a class="pull-right" style="line-height: 50px;" href="/manage/logout">退出登录</a>
                </if>
                <!--toggle button end-->
            </div>
        </div>
        <!-- header section end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <block name="breadcrumb"></block>
        	<block name="body"></block>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>Copyright © 2015 - 2017 startce. All Rights Reserved  <strong>v0.01</strong></footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="__STATIC__/adminex/js/jquery-1.10.2.min.js"></script>
<script src="__STATIC__/adminex/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="__STATIC__/adminex/js/jquery-migrate-1.2.1.min.js"></script>
<script src="__STATIC__/adminex/js/bootstrap.min.js"></script>
<script src="__STATIC__/adminex/js/modernizr.min.js"></script>
<script src="__STATIC__/adminex/js/jquery.nicescroll.js"></script>

<!--icheck -->
<script src="__STATIC__/adminex/js/iCheck/jquery.icheck.js"></script>
<script src="__STATIC__/adminex/js/icheck-init.js"></script>


<!--common scripts for all pages-->
<script src="__STATIC__/adminex/js/scripts.js"></script>
<script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
<script type="text/javascript" src="__STATIC__/vue.js"></script>
<script src="__COMMON__/common.js"></script>

<block name="script"></block>
</body>
</html>
