<extend name="Public/base" />

<block name="style">
    <link href="/Public/Manage/media/css/style.css" rel="stylesheet" />
</block>

<block name="breadcrumb">
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb panel">
                <li><a href="/"><i class="fa fa-home"></i>主页</a></li>
                <li class="active">异常查询</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
</block>

<block name="body">
<!--搜索中弹窗-->
<div class="float hidden">
    <h4 class="text-center">正在为您搜索...</h4>
    <div class="bs-example m-callback">
        <div class="style-content">
            <img src="/Public/Manage/media/image/timg.gif">
        </div>
        <p><span class="label label-warning" id="m-callback-update">您需要耐心等待一会,不要刷新页面！</span></p>
    </div>
</div>

<div class="row">
    <!--错误输出-->
    <div class="col-md-12 ">
        <div class="alert alert-danger fade in hidden" id="alert_error">
            <a href="#" class="close" data-dismiss="alert">×</a>
            <strong>Error!</strong> <span></span>
        </div>
    </div>

	<div class="col-md-12">
		<section class="panel">
            <header class="panel-heading">
                外汇行业异常客户行为上报查询系统
            </header>
            <div class="panel-body">
                <div class="form-horizontal">
                	<div class="form-group">
                        <label class="col-lg-3 col-sm-3 control-label">搜索类型</label>
                        <div class="col-lg-4">
                            <select class="form-control" id="customer_type">
                            	<option value="name">姓名</option>
                            	<option value="email">邮箱</option>
                            	<option value="phone">电话</option>
                            	<option value="idcardnumber">身份证/护照</option>
                            	<option value="ip">ip</option>
                            	<option value="user_address">地址</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-sm-3 control-label">搜索值</label>
                        <div class="col-lg-4">
                            <input id="customer_value" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-3 col-lg-9">
                            <button id="customer_submit" type="button" class="btn btn-primary">搜索</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                外汇行业不良从业人员查询上报系统
            </header>
            <div class="panel-body">
                <div class="form-horizontal">
                	<div class="form-group">
                        <label class="col-lg-3 col-sm-3 control-label">搜索类型</label>
                        <div class="col-lg-4">
                            <select class="form-control" id="employees_type">
                            	<option value="name">姓名</option>
                            	<option value="email">邮箱</option>
                            	<option value="phone">电话</option>
                            	<option value="idcardnumber">身份证/护照</option>
                            	<option value="ip">ip</option>
                            	<option value="user_address">地址</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-sm-3 control-label">搜索值</label>
                        <div class="col-lg-4">
                            <input id="employees_value" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-3 col-lg-9">
                            <button id="employees_submit" type="button" class="btn btn-primary">搜索</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		<section class="panel">
            <header class="panel-heading">
               	查询记录
            </header>
            <div class="panel-body">
	            
            	<table class="table table-striped table-hover">
		            <thead>
		                <tr>
		                    <th>ID</th>
		                    <th>姓名</th>
		                    <th>电话</th>
							<th>邮箱</th>
							<th>类型</th>
							<th>ip</th>
							<th>身份证/护照</th>
							<th>地址</th>
							<th>备注</th>
		                </tr>
		            </thead>
            
		            <tbody id="target"></tbody>
		        </table>
		        <div id="page"></div>
        	</div>
    	</section>

	</div>

</div>

</block>

<block name="script">
	<script src="/Public/Manage/js/search_customer.js"></script>
    <script src="/Public/Manage/js/search_employees.js"></script>
</block>
